@import "tailwindcss";

@theme {
  --font-sans: "Mulish Variable", sans-serif;
  --font-mono: "Space Mono", monospace;

  --color-indigo: oklch(26.53% 0.1502 278.05); /* #1d096b */
  --color-pink: oklch(82.94% 0.1209 30.54); /* #feaa9b */

  --my-grid: repeat(12, minmax(0, 64px));
}

@layer base {
  body {
    @apply font-sans text-base leading-normal;
  }
  h1 {
    @apply font-mono text-4xl leading-tight lg:text-6xl;
  }
  h2 {
    @apply font-mono text-2xl leading-tight lg:text-4xl;
  }
  h3 {
    @apply my-4 font-sans text-xl leading-tight font-bold;
  }
  ::selection {
    @apply bg-(--color-pink);
  }
}

@layer components {
  .grille {
    @apply px-6 lg:grid lg:grid-cols-(--my-grid) lg:justify-center lg:gap-12;
  }
}
