@import "tailwindcss";

@theme {
  --font-sans: "Mulish Variable", sans-serif;
  --font-mono: "Space Mono", monospace;

  --color-indigo: oklch(26.53% 0.1502 278.05); /* #1d096b */
  --color-pink: oklch(82.94% 0.1209 30.54); /* #feaa9b */
}
