---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

import IconMusique from "../assets/icones/icon_musique.svg";
import IconTheatre from "../assets/icones/icon_theatre.svg";
import IconDanse from "../assets/icones/icon_danse.svg";
---

<Layout>
  <Hero
    title="Conservatoire Henri Dutilleux"
    subTitle="Conservatoire à rayonnement départemental du grand belfort"
  >
    <div class="flex-1 font-mono lg:text-3xl" slot="chapo">
      <ul
        class="grid grid-cols-3 gap-12 *:flex *:flex-col *:items-center *:gap-4 *:lg:flex-row"
      >
        <li><IconMusique /> Musique</li>
        <li><IconTheatre /> Théâtre</li>
        <li><IconDanse /> Danse</li>
      </ul>
    </div>
  </Hero>
</Layout>
