---
import Arrow from "../assets/icones/icon_arrowline.svg";
const { href, text, variant = "default", classes } = Astro.props;
const variantClass = {
  default: "border border-pink hover:inset-ring-8 hover:inset-ring-pink",
  dark: "bg-black text-white",
  outlined:
    "text-white border border-white hover:inset-ring-8 hover:inset-ring-white",
};
---

<a
  class:list={[
    "inline-flex items-center gap-4 px-6 py-4 text-xs font-bold tracking-wide uppercase transition duration-300 ease-in-out lg:px-8 lg:py-6 lg:text-sm",
    variantClass[variant],
    classes,
  ]}
  href={href}
>
  <Arrow />
  {text}
</a>
